<nav class="navbar navbar-light head" >
        <div class="navbar-header">
            <a href="#" class="image" style="color: black;"><img src="../assets/images/qarrot-logo.png" alt="qarrot-logo" style="width: 128px; height: 32px;"></a>
        </div>

            <ul class="nav nav-pills menu lb">
                <li class="nav-item text"><a href="#" class="nav-link" style="color: black;"><mat-icon style="text-align: center; display: inline-flex;">home</mat-icon>Home</a></li>
                <li class="nav-item text"><a href="#" class="nav-link" style="color: black; "><mat-icon style="text-align: center; display: inline-flex;">help_outline</mat-icon>Campaigns</a></li>
                <li class="nav-item text"><a href="#" class="nav-link" style="color: black; "><mat-icon style="text-align: center; display: inline-flex;">leaderboard</mat-icon>Leaderboard</a></li>
                <li class="nav-item active text"><a href="#" class="nav-link" style="color: #66b5ff; "><mat-icon>card_giftcard</mat-icon>Rewards</a></li>
                <li class="nav-item text"><a href="#" class="nav-link" style="color: black; "><mat-icon>manage_accounts</mat-icon>Manage</a></li>
            </ul>


            <ul class="nav settings">
                <li class="nav-item dropdown text">
                    <a href="#" class="dropdown-toggle nav-link" role="button" style="color: black; display: flex; "> EN <mat-icon>expand_more</mat-icon></a>
                </li>
                <li><a href="#" class="nav-link" role="button" style="color: black;"><mat-icon>help_outline</mat-icon></a></li>
                <li><a href="#" class="nav-link" role="button" style="color: black;"><mat-icon>notifications</mat-icon></a></li>
                <li><a href="#" class="nav-link" role="button" style="color: black;"><mat-icon>person</mat-icon></a></li>
            </ul>

</nav>
