<p 
class="dropdown-heading">
Popular
<a href="#" style="color: black; margin-left: 250px; height: 24px;"><mat-icon style="text-align: center; display: inline-flex;">expand_more</mat-icon></a>
</p>

<table class="table table-borderless">
    <tbody>
        <tr>
            <td>
                <img 
                src="{{amazonPrime}}" 
                alt="amazon-logo"
                class="logo">
            </td>
            <td>
                <img 
                src="{{amazonLogo}}" 
                alt="amazon-logo"
                class="logo">
            </td>
            <td>
                <img 
                src="{{amazonPrime}}" 
                alt="amazon-logo"
                class="logo">
            </td>
            <td>
                <img 
                src="{{amazonLogo}}" 
                alt="amazon-logo"
                class="logo">
            </td>
        </tr>
        <tr>
            <td>
                <img 
                src="{{amazonPrime}}" 
                alt="amazon-logo"
                class="logo">
            </td>
            <td>
                <img 
                src="{{amazonLogo}}" 
                alt="amazon-logo"
                class="logo">
            </td>
            <td>
                <img 
                src="{{amazonPrime}}" 
                alt="amazon-logo"
                class="logo">
            </td>
            <td>
                <img 
                src="{{amazonLogo}}" 
                alt="amazon-logo"
                class="logo">
            </td>
        </tr>
        <tr>
            <td>
                <img 
                src="{{amazonPrime}}" 
                alt="amazon-logo"
                class="logo">
            </td>
            <td>
                <img 
                src="{{amazonLogo}}" 
                alt="amazon-logo"
                class="logo">
            </td>
            <td>
                <img 
                src="{{amazonPrime}}"
                alt="amazon-logo"
                class="logo">
            </td>
        </tr>
    </tbody>
</table>

<p 
class="dropdown-heading">
Recent Purchases
<a href="#" style="color: black; margin-left: 180px; height: 24px;"><mat-icon style="text-align: center; display: inline-flex;">expand_more</mat-icon></a>
</p>