<div class="container">
    <div class="row">
        <div class="col-xs-1">
            <a href="#" class="nav-link" role="button" color="black; margin-top: 0px"><mat-icon>west</mat-icon></a>
        </div>

        <div class="col-xs-2">
            <p class="heading">Rewards</p>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item active"><a href="#" class="nav-link" style="color: black;">Custom Rewards</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #92949C; ">Gift Cards</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #92949C; ">Donations</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #92949C; ">Purchases</a></li>
    </ul>

    <ul class="nav navbar">
        <li class="nav-item"><input type="text" class="form-control form-control-placeholdericon" placeholder="&#xe8b6; Search by name" ></li>
        <li class="nav-item"><input type="text" class="form-control form-control-placeholdericon" placeholder="&#xe80b; Country of redemption &#xe5cf;"></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #92949C; "><mat-icon>filter_alt</mat-icon></a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #92949C; "><mat-icon>format_list_bulleted</mat-icon></a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #92949C; "><mat-icon>category</mat-icon></a></li>
    </ul>

</div>