<div class="container" >
    <div class="row">
        <div class="col-xs-1">
            <img 
            src="https://preview.redd.it/transform-your-selfie-into-a-stunning-ai-avatar-with-stable-v0-2z411m9dob6a1.png?width=1024&format=png&auto=webp&s=8e97db53d8c34044ce841f0110cf996fbd28f006" 
            alt="avatar"
            class="rounded float-start img-responsive" 
            style="max-height: 70px; border: 1px solid black; border-radius: 15px;">
        </div>
        
        <div class="col-xs-2">
            <p class="heading"> {{ "Ralph Edwards" }} </p>
            <p class="text">MEDICAL ASSISTANT</p>
        </div>
    </div>

    <p class="token-text">Giving Points </p>
    <p class="points">2,500</p>
    <p class="token-text">Spending Points</p>
    <p class="points">3,000</p>
</div>
